<header class="color" id="nombre">
    <div class="header">
        <div><img src="https://yavirac.edu.ec/img/Logo%20Yavirac.png" id="logo"></div>
	<div>{{head}}</div>
    </div>
</header>
<body class="inicio">
    <div class="carreras">
        <div class="card">
           <div class="card-body">
            <a class="button" routerLink="/carrera1" routerLinkActive="activebutton">
            <img src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_960_720.jpg" id="carrera1" >
            </a>    
            </div>
            
            <br>
           
        </div>
        <div class="card"> 
            <div class="card-body">
            <a class="button" routerLink="/carrera2" routerLinkActive="activebutton">
                <img src="https://cdn.pixabay.com/photo/2013/02/09/04/28/sous-chef-79598_960_720.jpg" id="carrera2" >
            </a>
            </div> 
            
            <br>
           
        </div>
        <div class="card">
            <div class="card-body">
            <a class="button" routerLink="/carrera3" routerLinkActive="activebutton">    
            <img src="https://cdn.pixabay.com/photo/2013/02/12/00/58/firemen-80640_960_720.jpg" id="carrera3">
            </a>
            </div>
            
            <br>
            
        </div>
    </div>


</body>
